<div class="fb-header">
  <div class="fb-toggle">
    <exogb-toggle
      [checked]="switchedOn"
      [enabled]="enabled"
      (changeChecked)="enabled && switch()"
    ></exogb-toggle>
  </div>

  <button class="fb-button" [class.opened]="opened" (click)="toggleOpened()">
    <div class="fb-title">{{ blockTitle }}</div>

    <svg class="icon">
      <use [attr.href]="opened ? 'assets/images/icons/expand_less.svg#icon' : 'assets/images/icons/expand_more.svg#icon'" />
    </svg>
  </button>
</div>

<ng-content></ng-content>
