<div *ngIf="!!topImage" class="top-block">
  <div class="top-image-block">
    <exogb-picture [image]="topImage" [showLoader]="true"></exogb-picture>
  </div>

  <p
    *ngIf="!!topImage.captionText; else captionPartsTemplate"
    class="image-caption"
  >
    {{ topImage.captionText }}
  </p>

  <p class="image-link">
    <a [href]="topImage.full" target="_blank" rel="noopener noreferrer">
      Открыть изображние
      <svg class="icon"><use href="assets/images/icons/open_in_new.svg#icon" /></svg>
    </a>
  </p>
</div>

<div *ngIf="images.length > 1" class="images-block">
  <div *ngFor="let image of images" class="image-container">
    <div class="image-wrapper" (click)="setTopImage(image)">
      <exogb-picture [image]="image" [targetWidth]="150"></exogb-picture>
    </div>
  </div>
</div>

<ng-template #captionPartsTemplate>
  <p *ngIf="!!topImage && !!topImage.captionParts" class="image-caption">
    <ng-container
      *ngFor="let part of topImage.captionParts"
      [ngSwitch]="part.type"
    >
      <ng-container *ngSwitchCase="'text'">{{ part.content }}</ng-container>
      <a
        *ngSwitchCase="'sight'"
        [routerLink]="[]"
        [queryParams]="{ sight: part.sightId }"
        queryParamsHandling="merge"
        >{{ part.content }}</a
      >
    </ng-container>
  </p>
</ng-template>
