<div class="sight-title" [class.active]="active">
  <svg *ngIf="isMuseum" class="icon">
    <use href="assets/images/icons/museum.svg#icon" />
  </svg>
  {{ sight.title }}
</div>

<div class="sight-info">
  <ul *ngIf="nestedItems.length" class="sight-nested">
    <li *ngFor="let nested of nestedItems">
      <a
        [routerLink]="[]"
        [queryParams]="{ sight: nested.id }"
        queryParamsHandling="merge"
      >
        + {{ nested.title }}
      </a>
    </li>
  </ul>

  <div class="sight-description">
    <p [title]="descriptionFull">{{ descriptionShort }}</p>
    <p *ngIf="sight.location" [title]="'Местонахождение: ' + sight.location">
      {{ sight.location }}
    </p>
    <p>
      <span *ngIf="!sight.geolocation">Координаты:</span>
      <span [class.alert]="!sight.geolocation">
        {{ sight.geolocation | geolocation }}
      </span>
      <span
        *ngIf="sight.multiGeolocation"
        class="multi-coords-img"
        title="Есть доп. координаты (выберите объект, приблизьте карту)"
      ></span>
    </p>
  </div>

  <div class="sight-description links-block">
    <a
      [routerLink]="[]"
      [queryParams]="{ sight: sight.id }"
      queryParamsHandling="merge"
    >
      Подробнее...
    </a>
    <a
      *ngIf="sight.permalink"
      [href]="sight.permalink"
      target="_blank"
      rel="noopener noreferrer"
    >
      Перейти
      <svg class="icon">
        <use href="assets/images/icons/open_in_new.svg#icon" />
      </svg>
    </a>
  </div>
</div>

<a
  [routerLink]="[]"
  [queryParams]="{ sight: sight.id }"
  queryParamsHandling="merge"
  class="sight-anchor"
>
  <img
    *ngIf="sight.thumb_url"
    [src]="sight.thumb_url"
    [attr.loading]="index > 6 ? 'lazy' : 'eager'"
    title="Подробнее..."
    class="sight-image"
  />
  <svg *ngIf="!sight.thumb_url" class="icon">
    <use href="assets/images/icons/quick_reference_all.svg#icon" />
  </svg>
</a>
