$image-width: 135px;
$image-height: 90px;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: $image-height;
  border: solid 1px var(--label-secondary);
  cursor: default;

  &.active {
    border-color: var(--label-primary);
    background-color: var(--light-01);

    .sight-title {
      background-color: var(--light-01);
    }
  }
}

.sight-title {
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
  padding: 0 6px 2px;
  position: relative;
  z-index: 1;
  background-color: var(--light-02-op);

  .icon {
    height: 1em;
    width: 1em;
    line-height: normal;
    vertical-align: text-bottom;
    margin-right: 2px;
    color: var(--label-secondary);
  }
}

.sight-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$image-width});
  padding-left: 6px;
}

.sight-nested {
  font-size: 15px;
  line-height: 21px;
  margin-left: 8px;
  list-style-type: none;
}

.sight-description {
  font-size: 14px;
  line-height: 20px;
  color: var(--label-secondary);

  p {
    width: fit-content;
  }
}

.links-block {
  margin: auto 0 4px;

  a {
    margin-right: 12px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.sight-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: $image-width;
  background-color: var(--control-layout-01);

  &:hover {
    z-index: 1;

    .icon {
      color: var(--control-layout-03);
    }
  }

  .sight-image {
    display: block;
    width: $image-width;
    height: $image-height;
    object-fit: cover;
    margin-top: auto;
  }

  .icon {
    width: 40px;
    height: 40px;
    color: var(--control-layout-02);
  }
}
