<div class="search-input">
  <input
    #searchInput
    type="text"
    autocomplete="off"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="!enabled"
    [class.filled]="!!value"
    (keyup)="enabled && checkValue(searchInput.value, $event)"
    (focus)="onInputFocus()"
  />

  <button
    *ngIf="!!value"
    type="button"
    class="close-btn"
    (click)="clearValue()"
  >
    <svg class="close-icon">
      <use href="assets/images/icons/close.svg#icon" />
    </svg>
  </button>
</div>

<button
  class="secondary search-button"
  [disabled]="!enabled"
  (click)="enabled && searchValue(searchInput.value)"
>
  <svg class="search-icon">
    <use href="assets/images/icons/search.svg#icon" />
  </svg>
</button>
