@import 'constants';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding: 0 4px 0 12px;
  color: var(--label-primary);
  cursor: default;
}

header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  position: relative;

  .sight-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    padding-top: 70px;
  }

  .close-btn-wrapper {
    position: absolute;
    top: 16px;
    right: 0;
    width: 48px;

    button {
      width: 28px;
      height: 28px;
      margin: 0 auto;
      border-color: transparent;
      color: var(--label-secondary);

      &:hover {
        color: var(--label-primary);
      }
    }
  }
}

.scrolled-container {
  flex-grow: 1;
  // min-height: 400px;
  overflow-y: auto;

  .scrolled-content {
    padding-right: 8px;
  }
}

.sight-description {
  margin-bottom: 16px;

  .label {
    color: var(--label-secondary);
  }
}

.sight-intro {
  padding: 12px 0 4px;
  border-top: 1px solid;
  // border-bottom: 1px solid;
  border-color: var(--label-quarternary);
  margin-bottom: 16px;
}

.content-footer {
  flex-shrink: 0;
  height: 50px;
  display: flex;
  align-items: center;
  // justify-content: flex-end;
}

.loader {
  margin-top: 16px;
}

@media (max-width: $mobile-width) {
  header {
    padding-top: 8px;

    .sight-title {
      padding-top: 0;
    }

    .close-btn-wrapper {
      position: static;
    }
  }
}

@media (max-height: $mobile-height) {
  header {
    padding-top: 4px;
    margin-bottom: 6px;

    .sight-title {
      padding-top: 0;
      font-size: 18px;
    }

    .close-btn-wrapper {
      position: static;
    }
  }
}
