:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding: 0 12px 16px;
  color: var(--label-primary);
  cursor: default;
}

header {
  height: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;

  .close-btn {
    margin-left: auto;
    border-color: transparent;
    color: var(--label-secondary);

    &:hover {
      color: var(--label-primary);
    }
  }

  a {
    font-size: 15px;
  }
}

.scrolled-content {
  flex-grow: 1;
  min-height: 400px;
  overflow-y: auto;
}

footer {
  flex-shrink: 0;
  margin-top: 20px;
}

.sight-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 4px;
}

.sight-description {
  .label {
    color: var(--label-secondary);
  }
}

.loader {
  margin-top: 16px;
}

@media (max-width: 768px) {
  header {
    height: 40px;
    margin-bottom: 0;
  }
}
