@import 'constants';

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding: 0 4px 0 12px;
  color: var(--label-primary);
  cursor: default;
}

.scrolled-container {
  flex-grow: 1;
  overflow-y: auto;
  overflow-y: scroll;
}

.scrolled-content {
  padding-top: 70px;
  padding-right: 8px;
}

.close-btn-wrapper {
  position: absolute;
  width: 100%;
  height: 44px;
  left: 0;
  top: 0;
  background-color: var(--light-02);

  button {
    width: 28px;
    height: 28px;
    margin: 16px 18px 0 auto;
    border-color: transparent;
    color: var(--label-secondary);

    &:hover {
      color: var(--label-primary);
    }
  }
}

.sight-title {
  width: calc(100% - 40px);
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
}

.sight-description {
  margin-bottom: 16px;

  .label {
    color: var(--label-secondary);
  }
}

.sight-intro {
  padding: 12px 0 4px;
  border-top: 1px solid;
  border-color: var(--label-quarternary);
  margin-bottom: 16px;
}

.content-footer {
  flex-shrink: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

.loader {
  margin-top: 16px;
}

@media (max-width: $mobile-width) {
  .scrolled-content {
    position: relative;
    padding-top: 60px;
  }

  .close-btn-wrapper {
    width: 40px;
    height: 28px;
    left: auto;
    top: 60px;
    right: 0;

    button {
      margin: 0 auto;
    }
  }
}

@media (max-height: $mobile-height) {
  header {
    padding-top: 4px;
    margin-bottom: 6px;

    .sight-title {
      padding-top: 0;
      font-size: 18px;
    }

    .close-btn-wrapper {
      position: static;
    }
  }
}
