<div class="scrolled-container scroller">
  <div class="scrolled-content">
    <div class="close-btn-wrapper">
      <button type="button" title="Закрыть панель" (click)="close()">
        <svg class="icon">
          <use href="assets/images/icons/close.svg#icon" />
        </svg>
      </button>
    </div>

    <h2 class="sight-title">{{ sight?.title || '' }}</h2>

    <div *ngIf="!!sight" class="sight-description">
      <p *ngIf="typeText">
        <span class="label">Тип объекта:</span> {{ typeText }}
      </p>
      <p *ngIf="categoryText">
        <span class="label">Категория охраны:</span> {{ categoryText }}
      </p>
      <p *ngIf="sight.location">
        <span class="label">Местонахождение:</span> {{ sight.location }}
      </p>
      <p>
        <span class="label">Координаты:</span>
        <span [class.alert]="!sight.geolocation">
          {{ sight.geolocation | geolocation }}
        </span>
      </p>
      <p *ngIf="sight.okn_id">
        <span class="label">Номер в реестре ОКН:</span> {{ sight.okn_id }}
      </p>
      <p *ngIf="districtText">
        <span class="label">Район:</span> {{ districtText }}
      </p>
      <p *ngIf="sight.okn_title">
        <span class="label">Наименование ОКН:</span> {{ sight.okn_title }}
      </p>
      <p *ngIf="sight.okn_date">
        <span class="label">Датировка (по реестру ОКН):</span>
        {{ sight.okn_date }}
      </p>
      <p *ngIf="sight.registry_date">
        <span class="label">Дата постановки на охрану:</span>
        {{ sight.registry_date }}
      </p>
      <p *ngIf="sight.founding_date">
        <span class="label">Дата основания:</span> {{ sight.founding_date }}
      </p>
      <p *ngIf="sight.site">
        <span class="label">Официальный сайт:</span>{{ ' ' }}
        <a [href]="sight.site" target="_blank" rel="noopener noreferrer">
          {{ sight.site }}
        </a>
      </p>
    </div>

    <ng-container *ngIf="!!sight && !fetching">
      <div
        *ngIf="introHTML"
        exogbSightLinks
        class="sight-content sight-intro"
        [innerHTML]="introHTML"
      ></div>

      <div class="sight-images">
        <exogb-sight-images
          *ngIf="sight.images?.length"
          [sightId]="sight.id"
          [images]="sight.images || []"
        ></exogb-sight-images>
      </div>

      <div
        *ngIf="articleHTML"
        exogbSightLinks
        class="sight-content"
        [innerHTML]="articleHTML"
      ></div>

      <div *ngIf="sight.nested?.length" class="sight-nested-block">
        <h3>См. также:</h3>
        <ul>
          <li *ngFor="let nested of sight.nested" [ngSwitch]="nested.type">
            <a
              *ngSwitchCase="SightType.DEFAULT"
              [routerLink]="[]"
              [queryParams]="{ sight: nested.id }"
              queryParamsHandling="merge"
            >
              {{ nested.title }}
            </a>
            <a
              *ngSwitchCase="SightType.EGRKN"
              [href]="nested.egrknData?.egrknUrl"
              target="_blank"
              rel="noopener noreferrer"
            >
              {{ nested.title }} (на сайте госреестра)
              <svg class="icon">
                <use href="assets/images/icons/open_in_new.svg#icon" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </ng-container>

    <div *ngIf="sight && (!fetching || showServerError)" class="content-footer">
      <p *ngIf="sight.permalink">
        <a [href]="sight.permalink" target="_blank" rel="noopener noreferrer">
          Открыть страницу объекта
          <svg class="icon">
            <use href="assets/images/icons/open_in_new.svg#icon" />
          </svg>
        </a>
      </p>
      <p *ngIf="sight.egrknData && sight.egrknData.egrknUrl">
        <a
          [href]="sight.egrknData.egrknUrl"
          target="_blank"
          rel="noopener noreferrer"
        >
          Открыть страницу объекта на сайте госреестра
          <svg class="icon">
            <use href="assets/images/icons/open_in_new.svg#icon" />
          </svg>
        </a>
      </p>
    </div>

    <div *ngIf="fetching || showServerError" class="loader">
      <exogb-loader
        [showSpinner]="fetching"
        [showServerError]="!fetching && showServerError"
        (clickRefresh)="getSight()"
      ></exogb-loader>
    </div>
  </div>
</div>
