:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/assets/images/ya-map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
