:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--light-02);
  border-right: solid 1px var(--label-tetriary);
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  :host {
    padding-top: 52px;
  }
}
