@import 'constants';

:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--light-02);
  border-right: solid 1px var(--label-tetriary);
  display: flex;
  flex-direction: column;
  touch-action: none;
}

.noscrolled-header {
  flex-shrink: 0;
  // height: 72px;
  height: 0;
}

.scrolled-content {
  flex-grow: 1;
  padding: 72px 8px 16px;
  overflow-y: auto;
  overflow-y: overlay;
}

@media (max-width: $mobile-width) {
  :host {
    border: none;
    border-top: solid 1px var(--label-tetriary);
    border-radius: 8px 8px 0 0;
  }

  .noscrolled-header {
    height: 32px;
  }

  .scrolled-content {
    padding: 0 8px 60px;
  }
}

@media (max-height: $mobile-height) {
  .scrolled-content {
    padding: 16px 8px;
  }
}

.search-bar {
  margin-bottom: 16px;
}

.filter-blocks-container {
  margin-bottom: 16px;
}

.filter-block {
  margin-bottom: 8px;

  .fb-content-container {
    overflow: hidden;
    height: auto;
    // transition: all 0.2s linear;

    // &.opened {
    //   height: auto;
    // }
  }

  .fb-content {
    margin: 8px 8px 16px 8px;
    // height: 80px;
    // height: 0;
    // transition: all 0.2s linear;
    &.disabled {
      color: var(--label-secondary);
    }

    &:not(.disabled) {
      .not-checked {
        color: var(--accent-alert);
      }
    }

    .fb-row {
      font-size: 16px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 16px;
    }

    .fb-col-title {
      width: 96px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-right: 16px;
      margin-bottom: 4px;
      cursor: default;
    }

    .fb-cols {
      display: flex;
      align-items: center;
      max-width: 100%;

      .fb-col {
        width: 88px;
        min-width: 72px;
      }

      &.is--rows {
        flex-direction: column;

        .fb-col {
          width: 100%;
          margin-bottom: 8px;
        }
      }
    }

    .fb-row-egrkn {
      .fb-col-title {
        width: auto;
      }

      .fb-col {
        width: auto;
        min-width: auto;
      }
    }
  }
}

.cards-container {
  position: relative;
  margin-bottom: 16px;

  .cards-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: background-color 80ms linear;

    &.blocked {
      background-color: rgba(255, 255, 255, 0.2);
      pointer-events: all;
    }
  }

  .card-container {
    margin-bottom: 8px;
    border: solid 1px var(--label-secondary);

    // &:hover,
    &.active {
      border-color: var(--label-primary);
      background-color: var(--light-01);
    }
  }
}

.summary-text {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--label-secondary);
  cursor: default;
}
