<div class="noscrolled-header">
  <div
    *ngIf="canExpandPanel"
    class="expand-button"
    (click)="toggleExpandPanel()"
  >
    <svg
      viewBox="0 0 24 8"
      xmlns="http://www.w3.org/2000/svg"
      class="expand-button__dash"
    >
      <path
        d="M2 2.00L12 2L22 2.00"
        fill="none"
        stroke-width="4"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </div>
</div>

<div class="scrolled-content scroller">
  <div class="search-bar">
    <exogb-search-bar (valueSubmited)="search($event)"></exogb-search-bar>
  </div>

  <div class="filter-blocks-container">
    <div
      *ngFor="let filterBlock of filterBlocks"
      class="filter-block"
      [formGroup]="form"
    >
      <exogb-filter-block
        #fb
        [formControlName]="filterBlock.name"
        [blockTitle]="filterBlock.title"
      >
        <div
          class="fb-content-container"
          [@openClose]="fb.opened ? 'open' : 'closed'"
          (@openClose.done)="animationDone(fb.opened, filterBlock.name)"
        >
          <div
            *ngIf="fb.opened || filterBlock.showed"
            class="fb-content"
            [class.disabled]="!fb.switchedOn"
          >
            <ng-container
              *ngFor="let group of filterBlock.groups"
              [ngTemplateOutlet]="filterGroupTemplate"
              [ngTemplateOutletContext]="{ block: fb, group: group }"
            ></ng-container>
          </div>
        </div>
      </exogb-filter-block>
    </div>
  </div>

  <div *ngIf="cards.length" class="cards-container">
    <div *ngFor="let card of cards" class="card">{{ card }}</div>
  </div>
</div>

<ng-template
  #filterGroupTemplate
  let-block="block"
  let-group="group"
  [formGroup]="form"
>
  <div
    class="fb-row"
    [ngClass]="{
      'not-checked': form.get(group.name)?.errors?.notChecked
    }"
    [formGroupName]="group.name"
  >
    <div class="fb-col-title" [title]="group.title">
      {{ group.shortTitle || group.title }}
    </div>

    <div *ngFor="let control of group.controls" class="fb-col">
      <exogb-checkbox
        [formControlName]="control.name"
        [controlTitle]="control.title"
        [textRight]="control.shortTitle || control.title"
        [enabled]="block.switchedOn"
        [alert]="form.get(group.name)?.errors?.notChecked"
      ></exogb-checkbox>
    </div>
  </div>
</ng-template>
