<div class="noscrolled-header">
  <ng-content></ng-content>
</div>

<div class="scrolled-content scroller" [formGroup]="form">
  <div class="search-bar">
    <exogb-search-bar formControlName="search"></exogb-search-bar>
  </div>

  <div class="filter-blocks-container">
    <div *ngFor="let filterBlock of filterBlocks" class="filter-block">
      <exogb-filter-block
        #fb
        [formControlName]="filterBlock.name"
        [blockTitle]="filterBlock.title"
        [opened]="filterBlock.opened"
        (openedChange)="onOpenedChange($event, filterBlock)"
      >
        <div
          class="fb-content-container"
          [@openClose]="filterBlock.opened ? 'opened' : 'closed'"
          (@openClose.done)="animationDone(filterBlock)"
        >
          <div
            *ngIf="filterBlock.opened || filterBlock.showed"
            class="fb-content"
            [class.disabled]="!fb.switchedOn"
          >
            <ng-container
              *ngFor="let group of filterBlock.groups"
              [ngTemplateOutlet]="filterGroupTemplate"
              [ngTemplateOutletContext]="{ block: fb, group: group }"
            ></ng-container>
          </div>
        </div>
      </exogb-filter-block>
    </div>
  </div>

  <exogb-loader
    *ngIf="!sightsFetched"
    [showSpinner]="sightsFetching"
    [showServerError]="!sightsFetching && showServerError"
    [disabled]="form.invalid"
    (clickRefresh)="form.valid && emitGetSights()"
  ></exogb-loader>

  <ng-container *ngIf="sightsFetched">
    <div class="summary-text" [class.empty]="!sights.length">
      <p *ngIf="sights.length || sightsFetching; else noSightsTemplate">
        Найдено объектов: {{ sightsIndicator }}
      </p>
    </div>
    <div *ngIf="sights.length" class="cards-container">
      <div class="cards-cover" [class.blocked]="sightsFetching"></div>
      <div
        *ngFor="let sight of sights; index as i; trackBy: trackById"
        class="card-container"
        [class.active]="sight.active"
        (mouseenter)="onCardHover(sight)"
        (mouseleave)="onCardHover(sight, false)"
      >
        <exogb-sight-card [sight]="sight" [index]="i"></exogb-sight-card>
      </div>
    </div>
  </ng-container>
</div>

<ng-template
  #filterGroupTemplate
  let-block="block"
  let-group="group"
  [formGroup]="form"
>
  <div
    [ngClass]="[
      'fb-row',
      'fb-row-' + group.name,
      form.get(group.name)?.errors?.notChecked ? 'not-checked' : ''
    ]"
    [formGroupName]="group.name"
  >
    <div *ngIf="group.title" class="fb-col-title" [title]="group.title">
      {{ group.shortTitle || group.title }}
    </div>

    <div
      *ngIf="group.controls.length"
      class="fb-cols"
      [class.is--rows]="group.title === undefined"
    >
      <div
        *ngFor="let control of group.controls"
        class="fb-col"
        [ngSwitch]="control.type"
      >
        <exogb-toggle
          *ngSwitchCase="'toggle'"
          [formControlName]="control.name"
          [controlTitle]="control.title"
        ></exogb-toggle>
        <exogb-checkbox
          *ngSwitchDefault
          [formControlName]="control.name"
          [controlTitle]="control.title"
          [textRight]="control.shortTitle || control.title"
          [enabled]="block.switchedOn"
          [alert]="form.get(group.name)?.errors?.notChecked"
        ></exogb-checkbox>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noSightsTemplate>
  <p>Достопримечательностей по вашему запросу не найдено</p>
</ng-template>
