
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $orel-guidebook-primary: mat.define-palette(mat.$indigo-palette);
// $orel-guidebook-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $orel-guidebook-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $orel-guidebook-theme: mat.define-light-theme((
//   color: (
//     primary: $orel-guidebook-primary,
//     accent: $orel-guidebook-accent,
//     warn: $orel-guidebook-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($orel-guidebook-theme);

/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --accent-red: #FF3B30;
  // --accent-orange: #FF9500;
  // --accent-orange: #fd7f06;
  // --accent-orange: #edc041;
  --accent-orange: #E4971B;
  --accent-yellow: #FFCC00;
  --accent-green: #34C759;
  --accent-teal: #5AC8FA;
  // --accent-blue: #007AFF;
  // --accent-blue: #015a8d;
  // --accent-blue: #017AC0;
  --accent-blue: #1b68e4;
  --accent-indigo: #5856D6;
  --accent-purple: #AF52DE;
  // --accent-pink: #FF2D55;
  --accent-pink: #E4321B;
  --light-01: #FFFFFF;
  --light-02: #EFEFF4;
  --light-03: rgba(239, 239, 244, 0.3);
  --light-24: rgba(255, 255, 255, 0.24);
  --dark-100: #2C2C2E;
  --grey-01: #8F8F94;
  --grey-02: #AEAEB2;
  --grey-03: #C7C7CC;
  --grey-04: #D1D1D6;
  --disabled-100: #999999;
  --disabled-24: rgba(153, 153, 153, 0.24);
  --label-primary: #1C1C1E;
  --label-secondary: rgba(60, 60, 67, 0.6);
  --label-tetriary: rgba(60, 60, 67, 0.3);
  --label-quarternary: rgba(60, 60, 67, 0.18);
}

// Fonts

/* ubuntu-300 - cyrillic_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url('/assets/fonts/ubuntu/ubuntu-v13-cyrillic_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/ubuntu/ubuntu-v13-cyrillic_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-regular - cyrillic_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url('/assets/fonts/ubuntu/ubuntu-v13-cyrillic_latin-regular.woff2') format('woff2'),
    url('/assets/fonts/ubuntu/ubuntu-v13-cyrillic_latin-regular.woff') format('woff');
}

// Common

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--label-primary);
}

.gb-header-container {
  width: 320px;
  height: 50px;
  position: fixed;
  top: 5px;
  left: 5px;
  border: solid 1px var(--grey-01);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-right: 56px;
  // z-index: 100;

  .gb-header-logo {
    height: 100%;
    width: 56px;
    flex-shrink: 0;
    text-align: center;

    img {
      width: 48px;
    }
  }

  .gb-header-title {
    flex-grow: 1;

    h1 {
      font-size: 24px;
      font-weight: normal;
      text-align: center;
    }
  }
}

// Grid system: 576px 768px 992px 1200px
@media (max-width: 768px) {
  .gb-header-container {
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;
  }
}

.untouchable {
  pointer-events: none;
}

.touchable {
  cursor: pointer;
}
