
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $orel-guidebook-primary: mat.define-palette(mat.$indigo-palette);
// $orel-guidebook-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $orel-guidebook-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $orel-guidebook-theme: mat.define-light-theme((
//   color: (
//     primary: $orel-guidebook-primary,
//     accent: $orel-guidebook-accent,
//     warn: $orel-guidebook-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($orel-guidebook-theme);

/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'constants';

:root {
  // <from site>
  --accent-dark-yellow: #ffd649;
  --accent-dark-blue: #015a8d;
  --accent-light-blue: #e0f3fc;
  --accent-dark-grey: #3f3f3f;
  --accent-gb-blue: #005281;
  --accent-gb-light-grey: #ebebeb;
  // </from site>
  // --accent-red: #FF3B30;
  --accent-alert: #f13030;
  // --accent-orange: #FF9500;
  // --accent-orange: #fd7f06;
  // --accent-orange: #edc041; // from exor logo
  --accent-orange: #E4971B;
  --accent-yellow: #FFCC00;
  --accent-green: #34C759;
  --accent-teal: #5AC8FA;
  --accent-indigo: #5856D6;
  --accent-purple: #AF52DE;
  // --accent-pink: #FF2D55;
  --accent-pink: #E4321B;
  --light-01: #FFFFFF;
  --light-02: #FFFEEF; // #FFFCD2;
  --light-03: #FFFBBC;
  // --light-24: rgba(255, 255, 255, 0.24);
  --dark-100: #2C2C2E;
  --grey-01: #8F8F94;
  --grey-02: #AEAEB2;
  --grey-03: #C7C7CC;
  --grey-04: #D1D1D6;
  --disabled-100: #999999;
  --disabled-24: rgba(153, 153, 153, 0.24);
  --label-primary: rgb(28, 28, 30); // #1C1C1E
  --label-secondary: rgba(60, 60, 67, 0.6);
  --label-tetriary: rgba(60, 60, 67, 0.3);
  --label-quarternary: rgba(60, 60, 67, 0.18);
  --control-primary: #2a95d2;
  --control-secondary: #185476;
  --control-contrast: #008cdc;
}

// Fonts
$main-font-path: $assets-path + 'fonts/ubuntu/';

/* ubuntu-300 - cyrillic_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Ubuntu Light'), local('Ubuntu-Light'),
    url($main-font-path + 'ubuntu-v13-cyrillic_latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url($main-font-path + 'ubuntu-v13-cyrillic_latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ubuntu-regular - cyrillic_latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
    url($main-font-path + 'ubuntu-v13-cyrillic_latin-regular.woff2') format('woff2'),
    url($main-font-path + 'ubuntu-v13-cyrillic_latin-regular.woff') format('woff');
}

// Common

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--label-primary);
}

.gb-header-container {
  width: 320px;
  height: 50px;
  position: fixed;
  top: 5px;
  left: 5px;
  border: solid 1px var(--grey-01);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-right: 56px;
  z-index: 100;
  pointer-events: none;

  .header-logo-container {
    height: 100%;
    width: 56px;
    flex-shrink: 0;
    text-align: center;

    img {
      width: 48px;
    }
  }

  .header-title-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      width: 100%;
      font-size: 24px;
      line-height: normal;
      font-weight: normal;
      text-align: center;
    }
  }
}

#header-title-container {
  margin-left: 56px;
}

@media (max-width: $mobile-width) {
  .gb-header-container {
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    border: none;

    .header-title-container {
      opacity: 0.6;
    }
  }
}

@media (max-height: $mobile-height) {
  .gb-header-container {
    display: none;
    // visibility: hidden;
    // left: auto;
    // right: 5px;

    // .header-title-container {
    //   opacity: 0.6;
    // }
  }
}

.untouchable {
  pointer-events: none !important;
}

.hide {
  display: none !important;
}

//------------- Input styles --------------//

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='date'] {
  height: 32px;
  width: 100%;
  padding: 0 4px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--label-secondary);
  border-radius: 3px;
  color: var(--label-primary);
  caret-color: var(--label-secondary);
  // transition: color, border-color 0.1s linear;
  transition-property: color, border-color;
  transition-duration: 0.1s, 0.1s;
  transition-timing-function: linear, linear;

  & ~ .icon {
    color: var(--label-primary);
  }

  &::placeholder {
    opacity: 1;
    font-weight: 300;
    color: var(--label-tetriary);
  }

  &:not(.invalid) {
    &:placeholder-shown {
      & ~ .icon {
        color: var(--label-tetriary);
      }
      &:not(:focus):enabled:hover {
        &::placeholder {
          color: var(--label-secondary);
        }

        & ~ .icon {
          color: var(--label-secondary);
        }
      }
    }

    &:hover {
      border-color: var(--label-primary);
    }

    &:focus {
      color: var(--label-primary);
      border-color: var(--label-primary);
      background-color: var(--light-01);

      &::placeholder {
        color: var(--label-secondary);
      }

      & ~ .icon {
        color: var(--label-primary);
      }
    }
  }

  &.invalid {
    border-color: var(--accent-red);
    caret-color: var(--accent-red);
  }

  &:disabled {
    background-color: var(--disabled-24);
    border: none;
    color: var(--label-tetriary);
    cursor: not-allowed;

    & ~ .icon {
      color: var(--label-tetriary);
      cursor: not-allowed;
    }
  }

  &::-ms-reveal,
  &::-ms-clear {
    display: none;
  }
}

//------------- Buttons Styles --------------//

button {
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border: 1px solid;
  border-radius: 3px;
  background-color: transparent;
  outline: none;
  // transition: color, border-color 0.1s linear;
  transition-property: color, border-color;
  transition-duration: 0.1s, 0.1s;
  transition-timing-function: linear, linear;

  &:enabled {
    cursor: pointer;
  }

  &.primary {
    background-color: var(--control-primary);
    border-color: var(--control-primary);
    color: var(--light-01);
    padding: 0 16px;

    &:enabled:hover,
    &:enabled:focus-visible {
      background-color: var(--control-secondary);
      border-color: var(--control-secondary);
    }

    &:enabled:active {
      background-color: var(--control-primary);
      border-color: var(--control-primary);
    }
  }

  &.secondary {
    color: var(--label-secondary);
    border-color: var(--label-secondary);

    &:enabled:hover,
    &:active,
    &:enabled:focus-visible {
      color: var(--label-primary);
      border-color: var(--label-primary);
    }

    &:active {
      background-color: var(--light-01);
    }
  }

  &.secondary-2 {
    color: var(--accent-blue);
    background-color: var(--light-01);
    border-color: var(--accent-blue);

    &:enabled:not(:active):hover {
      background-color: var(--light-02);
    }
  }

  &.text {
    color: var(--accent-blue);
    background-color: transparent;
    border-color: transparent;

    &:enabled:hover {
      border-color: var(--label-quarternary);
    }

    &:active {
      border-color: var(--accent-blue);
    }
  }

  &.delete {
    color: var(--accent-red);
    background-color: var(--light-01);
    border-color: var(--accent-red);

    &:enabled:not(:active):hover {
      background-color: var(--light-02);
    }
  }

  &:disabled {
    cursor: default;

    &.primary,
    &.secondary,
    &.secondary-2,
    &.text,
    &.delete {
      color: var(--label-secondary);
      background-color: var(--disabled-24);
      border-color: var(--disabled-24);
      cursor: not-allowed;
    }

    &.text {
      background-color: var(--light-01);
      border-color: transparent;
    }
  }

  .button-icon {
    margin-right: 4px;
  }
}

// Custom scrollbar (CSS Scrollbars & -webkit-scrollbar)

.scroller {
  scrollbar-width: thin;
  scrollbar-color: var(--label-quarternary) transparent;

  &::-webkit-scrollbar {
    width: 4px;

    &-thumb {
      background-color: var(--label-quarternary);
      border-radius: 20px;
      // border: 1px solid var(--grey-04);
    }

    // &-track {
    //   background: var(--grey-04);
    // }
  }
}

// Links

.link-btn {
  display: inline;
  height: auto;
  text-align: left;
  border: none;
}

a,
.link-btn {
  font-size: inherit;
  font-weight: normal;
  text-decoration: none;
  color: var(--control-secondary);

  .mat-icon {
    width: 1em;
    height: 1em;
    vertical-align: text-top;
  }
}

.data-link {
  color: var(--control-secondary);
  cursor: pointer;
}

// Content

.sight-content {
  p {
    margin-bottom: 8px;
  }

  ul {
    margin-left: 2em;
    margin-bottom: 12px;
  }
}

// ymaps

@media (max-width: $mobile-width) {
  .ymaps-2-1-79-controls__toolbar_left {
    margin-left: 64px;
  }

  .ymaps-2-1-79-searchbox-input {
    margin-left: 48px;
  }
}

.ymc-template {
  cursor: pointer;

  h3 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  &.ymc-hint {
    margin-top: 4px;
  }
}
