PassengerNodejs /home/d/denkiril/.local/bin/node
PassengerAppRoot /home/d/denkiril/dev.excurs-orel.ru/public_html/guidebook
PassengerAppType node
PassengerStartupFile dist/exogb/server/main.js
# PassengerBaseURI /
